@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
}

:root {
    --bg-color: #f1f9ff;
    --btn-bg-color: #095d7e;
    --btn-hover: #0065c0;
    --secondary-size: 1.20rem;
    /* 20px */
    --primary-size: 1rem;
    /* 16px */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ==== LEFT AND TOP ITEMS ==== */
.sh-left-and-top-items-section {
    width: 100%;
    display: flex;
}

/* === LEFT SIDE MENU ITEMS === */
.sh-left-side-menu-container {
    left: 0;
    top: 0;
    position: sticky;
    width: 300px;
    height: 100vh;
    background-color: var(--bg-color);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}

/* .sh-side-menu-only-icons{
    left: 0;
    top: 0;
    position: sticky;
    display: none;
    width: 60px;
    height: 100vh;
    background-color: var(--bg-color);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);

}
.sh-side-menu-only-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sh-side-menu-only-icons p{
    display: none;
} */

/* === BRAND LOGO === */
.sh-brand-logo a {
    height: 80px;
    z-index: 999;
    color: var(--btn-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
    border-inline-end: 1px solid #70809063;
}

/* === MENU ITEMS === */
.sh-left-side-menu-items ul {
    width: 100%;
}

.sh-left-side-menu-items li {
    height: 50px;
}

.sh-left-side-menu-items a {
    height: 100%;
    width: 100%;
    padding: 0 30px;
    transition: all 0.3s ease-in-out;
    font-size: var(--primary-size);
    color: #708090;
    display: flex;
    align-items: center;
}

.sh-left-side-menu-items a:hover {
    background-color: var(--btn-hover);
    color: white;
}

.sh-left-side-menu-items i {
    margin-right: 5px;
}

/* === RIGHT ITEM DETAILS SECTION === */
.sh-right-item-details-section {
    width: 100%;
}

/* === TOP NAV ITEMS === */
.sh-doctor-nav-section {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background: white;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* === DOCTOR NAV LEFT CONTAINER === */
.sh-doctor-nav-left-container ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sh-menu-hover {
    color: black;
}

.show-short-menu {
    display: none;
}

.appointment-btn a {
    transition: all 0.3s ease-in-out;
    background: var(--bg-color);
    border: 1px solid rgba(128, 128, 128, 0.397);
    padding: 6px 12px;
    border-radius: 5px;
    font-size: var(--primary-size);
    color: black;
}

.appointment-btn a:hover {
    background: var(--btn-hover);
    color: white;
}

/* === DOCTOR NAV RIGHT CONTAINER === */
.sh-doctor-nav-right-container {
    display: flex;
    align-items: center;
}

/* === NOTIFICATION ICON */
.sh-notificatio-icon {
    position: relative;
    margin-right: 30px;
    color: #B22222;
    font-size: var(--secondary-size);
}

.sh-notificatio-icon i::after {
    position: absolute;
    content: "10";
    text-align: center;
    font-size: 9px;
    padding: 3px;
    border-radius: 50%;
    color: white;
    background-color: #ff000093;
    margin-top: -10px;
    margin-left: -4px;

}

/* === DOCTOR PROFILE === */
.sh-doctor-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sh-doctor-name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sh-doctor-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #708090;
}

/* ==== PATIENT INFO AND PAYMENT METHODS ==== */
.sh-patient-info-payment-methods-section {
    width: 100%;
    display: flex;
}

.sh-info-box-image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #708090;
}

.sh-info-box-image img {
    width: 100%;
    ;
}

/* === PATIENTS INFORMATION === */
.sh-patient-information-section {
    margin: 20px;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
    height: max-content;
    border-block-start: 1px solid #7080907a;
    border-inline-end: 1px solid #7080907a;
    border-inline-start: 1px solid #7080907a;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}

.patient-info-text {
    height: 50px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    color: #708090;
    border-block-end: 1px solid #7080907a;
}

.sh-patient-information-container {
    width: 100%;
    padding: 20px 20px 0 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sh-info-box {
    width: 100%;
    line-height: 2em;
}

.sh-info-box-day {
    width: 50%;
    font-size: 1.5rem;
}

.sh-info-box label {
    font-size: 1.5rem;
}

.sh-patient-information-container input {
    width: 100%;
    border-radius: 3px;
    padding: 3px 6px;
    font-size: 1rem;
    border: 1px solid #708090;
}

.sh-patient-information-container input:focus {
    outline: none;
}

.sh-patient-information-container select:focus {
    outline: none;
}

.sh-patient-information-container select {
    width: 100%;
    font-size: 0.875rem;
    border-radius: 3px;
    padding: 3px 6px;
    appearance: none;
    border: 1px solid #708090;
}

/* === FIND BUTTON === */
.sh-find-btn {
    width: 100%;
    padding-right: 20px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.sh-find-btn button {
    border: none;
    color: white;
    cursor: pointer;
    padding: 6px 20px;
    border-radius: 5px;
    font-size: var(--primary-size);
    background: var(--btn-bg-color);
    transition: all 0.3s ease-in-out;
}

.sh-find-btn button:hover {
    background: var(--btn-hover);
}

/* === SUBMIT BUTTON === */
.sh-submit-btn {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.sh-submit-btn button {
    transition: all 0.3s ease-in-out;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 6px 12px;
    background: var(--btn-bg-color);
    color: #E2E8F0;
    border: 1px solid #708090;
    border-radius: 5px;
}

.sh-submit-btn button:hover {
    background: var(--btn-hover);
}

/* === DOCTOR PROFILE SHOWING === */
.sh-show-doctor-profile-section {
    width: 100%;
    margin-bottom: 40px;
    display: none;
    align-items: center;
    justify-content: center;
}

.sh-showing-image img {
    width: 180px;
    border-radius: 50%;
    border: 1px solid #708090;
    background: white;
}

.sh-doctor-profile-showing-cart {
    padding: 20px;
    border-radius: 5px;
    line-height: 2em;
    text-align: center;
    background: white;
    border: 1px solid #7080907a;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}

.sh-showing-details p {
    font-size: 1.25rem;
}

.sh-showing-details h1 {
    font-size: 1.50rem;
}

.sh-footer-section {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 3px 3px 3px 5px rgb(0, 0, 0, 0.1);
}

/* ==================== */
.sh-mobile-navbar {
    display: none;
}

/* === MOBILE RESPONSIVE === */
@media(max-width: 768px) {

    .sh-left-side-menu-container-icon,
    .sh-left-side-menu-container {
        display: none;
    }

    .sh-doctor-nav-section {
        padding: 10px;
    }

    .sh-patient-information-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .patient-info-text {
        padding: 10px;
    }

    .sh-patient-information-section {
        margin: 10px;
    }

    .sh-find-btn {
        padding: 10px;
    }

    .sh-submit-btn {
        padding: 10px;
    }

    .sh-menu-hover,
    .show-short-menu {
        display: none;
    }

    .sh-left-and-top-items-section {
        margin-bottom: 70px;
    }

    .sh-mobile-navbar {
        bottom: 0;
        width: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .sh-mobile-navbar ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sh-mobile-navbar li {
        height: 50px;
        width: 100%;
        background: var(--bg-color);
    }

    .sh-mobile-navbar a {
        height: 100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        color: var(--btn-bg-color);
    }
}